@model IEnumerable<Do_an_co_so.Models.Categories>
<ul class="nav-bar">
    @foreach (var item in Model)
    {
        <li><a asp-action="Shopdetail" asp-controller="Cart">@item.CategoryName</a></li>
    }
</ul>