@using System.Globalization
@model IEnumerable<Do_an_co_so.Models.Banner>
@inject Do_an_co_so.Data.Do_an_co_soContext db
@*@model IEnumerable<Do_an_co_so.Models.Banner>*@
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<div class="featured lazy" style="text-align: center;margin-left: 100px; height:500px;margin-top: -30px;">
    <img src="~/Content/img/banner/banner.png" />
</div>