@model Do_an_co_so.Models.Product
@{
    ViewData["Title"] = "UploadData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form asp-action="UploadData" method="post" enctype="multipart/form-data">
   <div class="row">
            <div class="col-6">
                <input type="file" name="postedFile" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <input type="submit" value="Thêm sản phẩm" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index"><i class="bi bi-caret-left"></i>Trở về</a>
            </div>
        </div>
 </form>



