@{
	ViewData["Title"] = "About";
}
<div class="container margin_60_35 add_bottom_30">
	<div class="main_title">
		<h2>Về Đặc Sản Địa Phương Food</h2>
		<p>
			Trang thương mại điện tử về đặc sản địa phương hàng đầu Việt Nam
		</p>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Sản phẩm nổi bật</h2>
				<p class="lead">Địa Phương</p>
				
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_1">
			</div>
		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_1.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center">
		<div class="col-lg-5 pr-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_2.svg" alt="" class="img-fluid" width="350" height="268">
		</div>
		<div class="col-lg-5">
			<div class="box_about">
				<h2>Thương hiệu hàng đầu</h2>
				
				<img src="~/Content/img/arrow_about.png" alt="" class="arrow_2">
			</div>
		</div>
	</div>
	<!-- /row -->
	<div class="row justify-content-center align-items-center ">
		<div class="col-lg-5">
			<div class="box_about">
				<h2>+5000 sản phẩm</h2>
				
			</div>

		</div>
		<div class="col-lg-5 pl-lg-5 text-center d-none d-lg-block">
			<img src="~/Content/img/about_3.svg" alt="" class="img-fluid" width="350" height="316">
		</div>
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<div class="bg_white">
	<div class="container margin_60_35">
		<div class="main_title">
			<h2> Tại sao chọn MinFood? </h2>
			<p> MinFood - Hương vị trọn niềm tin. Tận hưởng không gian ẩm thực tuyệt vời với những món ăn độc đáo, tươi ngon và chất lượng cao. Chúng tôi cam kết mang đến cho bạn trải nghiệm ẩm thực đáng nhớ, với mỗi miếng thức ăn là một hành trình khám phá hương vị độc đáo. Hãy đặt món ngay hôm nay và khám phá thế giới ẩm thực tuyệt vời tại MinFood! </p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-medall-alt"> </i>
					<h3> + 1000 khách hàng </h3>
					<p>Luôn uy tín và tận tâm tới khách hàng khi mua tại MinFood!</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-help-alt"> </i>
					<h3> Hỗ trợ H24 </h3>
					<p> Hãy gọi chúng tôi khi bạn cần giải đáp thắc mắc </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-gift"> </i>
					<h3> Khuyến mại lớn </h3>
					<p> Khuyến mãi cực sốc khi khách hàng mua từ 200k trở lên</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-headphone-alt"> </i>
					<h3> Đường dây trực tiếp trợ giúp </h3>
					<p>
						Tel: (028) 3512 5248

						Fax: +84 283 512 5247

						Email: order.hcm@goodfood.com.vn
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-wallet"> </i>
					<h3> Thanh toán an toàn </h3>
					<p> Bạn có thể thanh toán qua 2 hình thức: Thanh toán khi nhận hàng hoặc qua thẻ ngân hàng</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="box_feat">
					<i class="ti-comments"> </i>
					<h3> Hỗ trợ qua Trò chuyện </h3>
					<p> Chúng tôi luôn hỗ trợ khách hàng 24/7</p>
				</div>
			</div>
		</div>
	</div>
</div>

