@{
    ViewData["Title"] = "Liên hệ";
}

<div class="container margin_60">
    <div class="main_title">
        <h2> Liên hệ Thực phẩm MinFood </h2>
        <p> Trang thương mại điện tử về đặc sản MinFood hàng đầu Việt Nam </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-support"> </i>
                <h2> Trung tâm MinFood</h2>
                <a href="#0"> +94 423-23-221 </a> - <a href="#0"> help  Dacsandiaphuongfood.com </a>
                <small> MON đến FRI 9 giờ sáng - 6 giờ tối Thứ 7, 9 giờ sáng - 2 giờ chiều </small>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-map-alt"> </i>
                <h2> Showroom Thực phẩm MinFood </h2>
                <div> Đặc sản địa phương</div>
                <small> MON đến FRI 9 giờ sáng - 6 giờ tối Thứ 7, 9 giờ sáng - 2 giờ chiều </small>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box_contacts">
                <i class="ti-package"> </i>
                <h2> Đơn hàng ăn uống ở MinFood </h2>
                <a href="#0"> +94 423-23-221 </a> - <a href="#0"> order  Dacsandiaphuongfood.com </a>
                <small> MON đến FRI 9 giờ sáng - 6 giờ tối Thứ 7, 9 giờ sáng - 2 giờ chiều </small>
            </div>
        </div>
    </div>
</div>
<div class="bg_white">
    <div class="container margin_60_35">
        <h4 class="pb-3"> Gửi hàng cho chúng tôi </h4>
        <div class="row">
            <div class="col-lg-4 col-md-6 add_bottom_25">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name *">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email *">
                </div>
                <div class="form-group">
                <textarea class="form-control" style="height: 150px;" placeholder="Message *"> </textarea>
                </div>
                <div class="form-group">
                    <input class="btn_1 full-width" type="submit" value="Gửi">
                </div>
            </div>
            <div class="col-lg-8 col-md-6 add_bottom_25">
             
                <iframe class="map_contact" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.126492843921!2d106.71188097415622!3d10.801622758730275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVFAuSENNIC0gSFVURUNI!5e0!3m2!1svi!2s!4v1685103073042!5m2!1svi!2s" width="600" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
